@charset "utf-8";
/* ====================
General Style
--------------------------------------------------------------*/


html{
	overflow-x:hidden !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #000;
	height:100%;
	text-align:center;
	background-image:url(../images/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.clear{
	clear:both;float:none;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* ====================
Typography
--------------------------------------------------------------*/
h3 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 600;
	color:#fff;
	margin-bottom:60px;
}

/* ====================
Content Styles
--------------------------------------------------------------*/

#main{
	height:100%;
}
.wrapper{ 
	position: relative; 
	z-index:2;
	height:100%; 
}
.container{
	max-width: 1200px;
	width:92%;
	margin:20px auto;
	position: relative;
	zoom:1;
	z-index:2;
}
.respimg{
	width:80%;
	margin:0 auto;
	height:auto;
}
.top-block{
	float:left;
	position:relative;
	padding:90px 0;
	width:100%;
	z-index:1;
}
.bottom-block{
	position:relative;
	float:left;
	width:100%;
	z-index:2;

}
.bottom-block h3{
	color:#292929;
}
.select-type{
	position:absolute;
	bottom:-14px;
	left:50%;
	margin-left:-30px;
	width:60px;
	height:60px;
	border-radius:100%;
	background:#292929;
	z-index:1;
}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.select-type:after, .select-type:before {
	bottom: 100%;
	margin-bottom:-7px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.select-type:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
	margin-bottom:-4px;
}
.select-type:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #292929;
	border-width: 18px;
	margin-left: -18px;
}
.select-type span{
	width:30px;
	height:30px;
	position:absolute;
	top:15px;
	left:15px;
	background:#fff;
	border-radius:100%;
}
.scale{
	-webkit-transform: scale(0.95);  
    -moz-transform: scale(0.95);  
    -ms-transform: scale(0.95);   
    -o-transform: scale(0.95);   
    transform: scale(0.95);
}
.transition{
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 300ms linear;
    transition: all 500ms linear;

.decor{
	width:150px;
	height:2px;
	background:#fff;
	margin:20px auto;
}
.triangle{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:1;
	z-index:-2;
}
.triangle:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.triangle:after {
	border-bottom-color: #666;
	border-width: 630px;
	margin-left: -630px;
}
@media only screen and (max-width :580px) {
.select-type{
	display:none
}

}